<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.lab10.artisnfcdemo">

    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature
            android:name="android.hardware.nfc"
            android:required="true"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/artis_icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/artis_icon_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="io.lab10.artisnfcdemo.MainActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="io.lab10.artisnfcdemo.SendTransactionActivity"
                android:label="@string/title_activity_send_transaction"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="io.lab10.artisnfcdemo.SendErc20TokensActivity"
                android:label="@string/title_activity_send_erc20_tokens"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="io.lab10.artisnfcdemo.VotingActivity"
                android:label="@string/title_activity_voting"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="io.lab10.artisnfcdemo.AboutActivity"
                android:label="@string/title_activity_voting"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="io.lab10.artisnfcdemo.ChangePinActivity"
                android:label="Change PIN"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait">
        </activity>
        <activity android:name="io.lab10.artisnfcdemo.SetPinActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="io.lab10.artisnfcdemo.UnlockPinActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="io.lab10.artisnfcdemo.GenerateFromSeedActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="io.lab10.artisnfcdemo.CheckSigCountersActivity"
                  android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>